{% extends 'base.html.twig' %}

{% block body %}
    <h1>INBOX</h1>

    <table class="table table-striped" >
        <thead >
        <tr>
            {#<th>Id</th>#}
            <th>Title</th>
            <th>Content</th>
            <th>Time</th>
            <th>Sender</th>
            {#<th>Recipient</th>#}
            {#<th>Actions</th>#}
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            {% if app.user == message.recipient %}
                <tr>

                    {#<td><a href="{{ path('messages_show', { 'id': message.id }) }}">{{ message.id }}</a></td>#}
                    <td>{{ message.title }}</td>
                    <td>{{ message.content }}</td>
                    <td>{% if message.timestamp %}{{ message.timestamp|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ message.sender }}</td>
                    {#<td>{{ message.recipient }}</td>#}
                    <td>
                        {#<ul>#}
                            {#<li>#}
                                {#<a href="{{ path('messages_show', { 'id': message.id }) }}">show</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="{{ path('messages_edit', { 'id': message.id }) }}">edit</a>#}
                            {#</li>#}
                        {#</ul>#}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('messages_new') }}">Create a new message</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
