{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {% import _self as macro %}

    {{ macro.multilevel(product.categories) }}

    {% macro multilevel(array) %}
        {% import _self as macro %}
        <ul>
            {% for item in array %}
                <li>
                    {% if item is iterable %}
                        {{ macro.multilevel(item) }}
                    {% else %}
                        {{ item }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endmacro %}

    <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('product_index') }}">Back to the list</a>
        </li>
    </ul>

<script>




    var allNames =[];
    var allParents = [];
    $('#product_categories option').each(function(){

        var text = $(this).text();
        var name = text.split('/').reverse()[0]
        var parent = text.replace(name,'');
        allParents.push(parent);
        allNames.push(name);
    })

    $('#product_categories option').each(function(){
        var text = $(this).text()+'/';
        if(allParents.indexOf(text) > 0) {
            $(this).remove();
        }
    })



</script>
{% endblock %}
