{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ product.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ product.image }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Dateadded</th>
                <td>{% if product.dateAdded %}{{ product.dateAdded|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Authorid</th>
                <td>{{ product.authorId }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ product.location }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ product.phone }}</td>
            </tr>
            <tr>
                <th>Viewcount</th>
                <td>{{ product.viewCount }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('product_edit', { 'id': product.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
