{% extends 'base.html.twig' %}

{% block body %}


    <table>
        <tbody>
            {#<tr>#}
                {#<th>Id</th>#}
                {#<td>{{ product.id }}</td>#}
            {#</tr>#}
            <tr>
                <th>Title</th>
                <td>{{ product.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <img class="mx-auto"  src="{{ asset('uploads/images/product/') ~  product.image }}" width="400" height="400">
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }} lv.</td>
            </tr>
            <tr>
                <th>Dateadded</th>
                <td>{% if product.dateAdded %}{{ product.dateAdded|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            {#<tr>#}
                {#<th>Authorid</th>#}
                {#<td>{{ product.authorId }}</td>#}
            {#</tr>#}
            <tr>
                <th>Location</th>
                <td>{{ product.location }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ product.phone }}</td>
            </tr>
            {#<tr>#}
                {#<th>Viewcount</th>#}
                {#<td>{{ product.viewCount }}</td>#}
            {#</tr>#}
        </tbody>

    <small class="author">
       Owner: {{ product.author.fullName }}
    </small>

    {#<a href="{{ path('article_likes', {'id': article.id}) }}"><i class="glyphicon glyphicon-thumbs-up"></i></a>#}


    <footer>
        <div class="pull-right">
            {% if app.getUser() and  app.getUser().isAdmin()   %}
                <a class="btn btn-danger btn-xs" href="{{ path('product_delete', {'id':product.id}) }}">delete &raquo;</a>
                <a class="btn btn-success btn-xs" href="{{ path('product_edit', {'id':product.id}) }}">edit &raquo;</a>
            {% endif %}
            <a class="btn btn-default btn-xs" href="{{ path('homepage') }}">back &raquo;</a>
        </div>
    </footer>
    </table>

    <button class="btn btn-success btn-group-sm" id="btnComment">Add Review</button>
    <a class="btn btn-success btn-group-sm" href="{{ path('userProduct', {'id':product.author.id}) }}">View all Advert this user </a>
    <div id="form">
    </div>

    {% for review in reviews %}
        <p>{{ review.content }}</p>
        <small>{{ review.dateAdded|date("F jS \\a\\t g:ia", 'Europe/Sofia') }}</small>
        <small>{{ review.author.fullName }}</small>
        <hr />

    <footer>
        <div class="pull-right">
            {% if app.getUser() and  app.getUser().isAdmin()   %}
                <a class="btn btn-danger btn-xs" href="{{ path('reviews_delete', {'id':review.id}) }}">delete &raquo;</a>
                <a class="btn btn-success btn-xs" href="{{ path('reviews_edit', {'id':review.id}) }}">edit &raquo;</a>
            {% endif %}
            <a class="btn btn-default btn-xs" href="{{ path('homepage') }}">back &raquo;</a>
        </div>
    </footer>
    {% endfor %}

    <script>

        let form = $(`
            <form method="post" action="{{ path('reviews_new', {'id': product.id}) }}">
                <div class="form-group">
                    <!--<label class="col-sm-4 control-label" for="product_content">Content</label>-->
                    <div class="col-sm-6">
                        <textarea class="form-control" rows="6" id="review_content" name="review[content]"></textarea>
                        <input class="btn btn-success btn-sm" type="submit" value="Create" />
                    </div>
                </div>
            </form>
        `);

        $('#btnComment').click(function (e) {
            // alert('hi');
            e.preventDefault();
            $('#form').append(form);
            $('#form').toggle();
        })
    </script>
    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('product_index') }}">Back to the list</a>#}
        {#</li>#}
        {#<li>#}
            {#<a href="{{ path('product_edit', { 'id': product.id }) }}">Edit</a>#}
        {#</li>#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
